// Some people like naming based on where the color
// will be used while others prefer names that
// represent the color


$bg: lighten(#ff8c00, 16%) !important;
$main: #ff8c00;
$secondry-colour:#ccf7f1;

$heading-font: 'Nunito Sans', sans-serif;
$text-font: 'Raleway', sans-serif;
